*.elc
*.eld
*.cache

auto-save-list/
elpa/
eln-cache/
eshell/
forge-database.sqlite
imagedired/
magithub/
racket-mode/
server/
transient/
url/

bookmarks
custom.el
history
ido.last
network-security.data
places
recentf
session.*
smex-items
tramp

